@page
@model EmployeeManagement.Pages.Attendance.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Attendance</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeAttendance.CheckIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeAttendance.CheckIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeAttendance.CheckOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeAttendance.CheckOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeAttendance.LateCheckIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeAttendance.LateCheckIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeAttendance.EarlyCheckOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeAttendance.EarlyCheckOut)
        </dd>
    </dl>
</div>

<hr />
<partial name="_BackToList" />